.hero {
          height: 100vh;
          background: url("../public/images/image3.jpg") center/cover fixed;
          position: relative;
        }

.hero::before {
          content: "";
          position: absolute;
          inset: 0;
          background: rgba(0,0,0,0.45);
          backdrop-filter: blur(4px);
        }

.hero-content {
          position: relative;
          z-index: 2;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: white;
          padding: 20px;
        }
        
.hero-content h1 {
          font-size: 4rem;
          font-weight: bold;
          margin-bottom: 20px;
        }

.hero-content p {
          font-size: 1.3rem;
          max-width: 600px;
        }

        /* -------- SECTIONS -------- */
.section {
          padding: 40px 0;
        }

.img-box img {
          width: 400px;
          height:300px;
          border-radius: 12px;
          box-shadow: 0 20px 40px rgba(0,0,0,0.2);
          animation: float 3s ease-in-out infinite;
        }

.text-box h3 {
          font-size: 2.2rem;
          margin-bottom: 5px;
        }

.text-box p {
          font-size: 1.1rem;
          line-height: 1.8;
        }

        /* -------- ANIMATIONS -------- */
.left {
          opacity: 0;
          transform: translateX(-120px);
          transition: transform 1.5s cubic-bezier(0.22,1,0.36,1) ,
                      opacity 1.5s ease;
        }

.right {
          opacity: 0;
          transform: translateX(120px);
          transition: transform 1.5s cubic-bezier(0.22,1,0.36,1),
                      opacity 1.5s ease;
        }

.delay {
          transition-delay: 0.4s;
        }

.visible {
          opacity: 1;
          transform: translateX(0);
        }

        /* -------- FLOAT IMAGE -------- */
@keyframes float {
          0%,100% { transform: translateY(0); }
          50% { transform: translateY(-15px); }
        }

        /* -------- RESPONSIVE -------- */
@media (max-width: 768px) {
          .hero-content h1 {
            font-size: 2.5rem;
          }

          .section {
            padding: 60px 20px;
          }
        }